@model KONE.Entities.Dtos.CurrentCard.AddOrUpdateCurrentCard
@{
    Layout = "_Layout";
}
@await Html.PartialAsync("_Breadcrumb", new KONE.KOne.WebUI.Models.BreadCrumb.BreadCrumbViewModel
{
    HeaderTitle = "Cari Kartlar",
    PageNames = new List<string>() { "Admin", "Anasayfa", "Index", "Cari Kartlar" },
    Url = "/Admin/Home/Index"
})

<div class="col-12">
    <div class="card custom-card shadow">
        <div class="card-header justify-content-between">
            <div class="card-title">
                <div class="card-title">
                    <span class="bi bi-people-fill"></span> @if (Model.Id != 0)
                    {
                        @("Cari Kart Güncelleniyor...")
                    }
                    else
                    { @("Cari Kart Oluşturuluyor...")}
                </div>
            </div>
            <div class="d-flex flex-wrap gap-2">
                <button id="savebutton" type="button" class="btn btn-success btn-wave waves-effect waves-light"><span class="bi bi-check-all"></span> Kaydet</button>

                @if (Model.Id != 0)
                {
                    <a href="/CurrentCard/CurrentLandList/@Model.Id" class="btn btn-primary btn-wave waves-effect waves-light"><span class="bi bi-house-fill"></span> Adresler</a>
                }
            </div>
        </div>
        <div class="card-body">
            <form id="currentcardform" asp-controller="CurrentCard" asp-action="AddOrUpdateCurrentCard" method="post">
                <input type="hidden" asp-for="Id" />
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <div class="card">
                            <div class="card-header konfrut-backgroundcolor-important">
                                <h6><span class="bi bi-person-fill"></span> Kişisel Bilgiler</h6>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <label class="form-label">Adı</label>
                                        <input type="text" class="form-control" placeholder="Adı" aria-label="Adı" asp-for="@Model.Name">
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label class="form-label">Soyadı</label>
                                        <input type="text" class="form-control" placeholder="Soyadı" aria-label="Soyadı" asp-for="@Model.Surname">
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label class="form-label">GSM</label>
                                        <input placeholder="(___) ___ __ __ __" id="telefon" type="text" class="form-control" placeholder="GSM" aria-label="GSM" asp-for="@Model.GSM">
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label class="form-label">E-posta</label>
                                        <input type="text" class="form-control" placeholder="E-posta" aria-label="E-posta" asp-for="@Model.Email">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-12 mb-3">
                        <div class="card">
                            <div class="card-header bg-primary" id="headingSecondaryTwo">
                                <h6><span class="bi bi-building"></span> Şirket Bilgileri</h6>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <label class="form-label">Ticari Ünvan</label>
                                        <input type="text" class="form-control" placeholder="Ticari Ünvan" aria-label="Ticari Ünvan" asp-for="@Model.CommercialTitle">
                                    </div>

                                    <div class="col-md-6 mb-3">
                                        <label class="form-label">Durum</label>
                                        <select id="1asd" asp-for="Status" class="select2 form-control" asp-items="Model.CurrentCardStatues">
                                        </select>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label class="form-label">Tür</label>
                                        <select id="2asd" asp-for="Type" class="select2 form-control" asp-items="Model.CurrentCardTypes">
                                        </select>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label class="form-label">Şirket Türü</label>
                                        <select id="3asd" asp-for="CompanyType" class="select2 form-control" asp-items="Model.CompanyTypes">
                                        </select>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label class="form-label">Açıklama</label>
                                        <textarea  asp-for="Description" class="form-control">
                                        </textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 mb-3">
                        <div class="card">
                            <div class="card-header" id="headingSecondaryThree">
                                <h6><span class="bi bi-list-check"></span> ERP Bilgileri</h6>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <label class="form-label">ERP Kimliği</label>
                                        <input type="text" class="form-control" placeholder="ERP Kimliği" aria-label="ERP Kimliği" asp-for="@Model.ErpId">
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label class="form-label">Mevcut Kod</label>
                                        <input type="text" class="form-control" placeholder="Mevcut Kod" aria-label="Mevcut Kod" asp-for="@Model.CurrentCode">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 mb-3">
                        <div class="card">
                            <div class="card-header" id="headingSecondaryFour">
                                <h6> <span class="bi bi-credit-card"></span> Cari Bilgileri</h6>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <label class="form-label">Kimlik Numarası</label>
                                        <input type="text" class="form-control" placeholder="Kimlik Numarası" aria-label="Kimlik Numarası" asp-for="@Model.IdentificationNumber">
                                    </div>

                                    <div class="col-md-6 mb-3">
                                        <label class="form-label">Vergi Numarası</label>
                                        <input type="text" class="form-control" placeholder="Vergi Numarası" aria-label="Vergi Numarası" asp-for="@Model.TaxNumber">
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label class="form-label">Vergi Dairesi</label>
                                        <input type="text" class="form-control" placeholder="Vergi Dairesi" aria-label="Vergi Numarası" asp-for="@Model.TaxOffice">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 mb-3">
                        <div class="card">
                            <div class="card-header" id="headingSecondaryThree">
                                <h6><span class="bi bi-journal-code"></span> Kart Bilgileri</h6>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <label class="form-label">Özel Alan 1</label>
                                        <input type="text" class="form-control" placeholder="ERP Kimliği" aria-label="ERP Kimliği" asp-for="@Model.SpecialArea1">
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label class="form-label">Özel Alan 2</label>
                                        <input type="text" class="form-control" placeholder="ERP Kimliği" aria-label="ERP Kimliği" asp-for="@Model.SpecialArea2">
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label class="form-label">Özel Alan 3</label>
                                        <input type="text" class="form-control" placeholder="ERP Kimliği" aria-label="ERP Kimliği" asp-for="@Model.SpecialArea3">
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label class="form-label">Özel Alan 4</label>
                                        <input type="text" class="form-control" placeholder="ERP Kimliği" aria-label="ERP Kimliği" asp-for="@Model.SpecialArea4">
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label class="form-label">Özel Alan 5</label>
                                        <input type="text" class="form-control" placeholder="ERP Kimliği" aria-label="ERP Kimliği" asp-for="@Model.SpecialArea5">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

@section Styles{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
}
@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js" integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        $(document).ready(function () {
            $('.select2').select2();

            $('#savebutton').on('click', function () {
                $('#currentcardform').submit();
            });
        });

    </script>
}